<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <div>
        {% if request.form.get('tag') == "user" %}
        <h1>Welcome {{ request.form.get('username') }}</h1>
        {% endif %}
    </div>
</body>
</html>